html, body {
    height: 100%;
    width: 100%;
}

body {
    background: url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

#nelp-main {
    height: 100%;
}

#nelp-main .search {
    padding-top:200px;
}