#nelp-main .navbar .navbar-brand {
    margin: 0 auto;
}

#nelp-main .nelp-list .lists {
    padding: 20px 0;
}

#nelp-main .nelp-list .pager {
    margin-top: 40px;
}

#nelp-main .nelp-detail .names {
    text-align: center;
}
#nelp-main .nelp-detail .names h2 {
    margin-top: 40px;
    marign-bottom: 20px;
}
#nelp-main .nelp-detail .names p {
    margin-bottom: 35px;
}
#nelp-main .nelp-detail .images {
    margin: 50px auto;
    text-align: center;
}
#nelp-main .nelp-detail .comments {
    margin-top: 50px;
}

.card-columns {
    column-count: 4;
}