#nelp-main .navbar .navbar-brand {
    margin: 0 auto;
}

#nelp-main .nelp-list {
    margin-top: 20px;
}
#nelp-main .nelp-list .lists {
    padding: 20px 0;
}

#nelp-main .nelp-list .pager {
    margin-top: 40px;
}

#nelp-main .nelp-detail .names {
    margin-top: 10px;
    padding: 20px !important;
}
#nelp-main .nelp-detail .names .img {
    max-height: 400px;
}
#nelp-main .nelp-detail .images {
    margin: 50px auto;
    text-align: center;
}
#nelp-main .nelp-detail .comments {
    margin-top: 50px;
}

.card-columns {
    column-count: 4;
}