{% extends "template.html" %}

{% block content %}

<div class="nelp-detail">

    <div class="names jumbotron">
        <div class="row">
            <div class="col-4">
                <img class="img" src="{{ photo }}" />
            </div>
            <div class="col-8" style="text-align: right">
                <h3 class="display-4">{{ name }}</h3>
                <p class="lead">{{ address }}</p>
                <p>{{ number }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <a role="button" href="/review/{{ id }}" class="btn btn-dark">Write Review</a>
        </div>
    </div>

    <div class="comments">
        {% for rev in review %}
        <div class="list-group list-group-flush">
            <span class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Rating: {{ rev.comment_rating }}</h5>
                    <small>{{ rev.comment_time }}</small>
                </div>
                <p class="mb-1">{{ rev.comment_content }}</p>
                <small>{{ rev.comment_user }}</small>
            </span>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}