<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nelp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/style_home.css') }}" />
</head>
<body>

<div class="container" id="nelp-home">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 search">
            <div class="logo">
                <img src="{{ url_for('static', filename='assets/images/logo.png') }}" />
            </div>

            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <form action="/api/query" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Business Name">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='jQuery/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
</body>
</html>