<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nelp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/style_home.css') }}" />
</head>
<body>

<div class="container" id="nelp-home">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 search">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Business Name">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Search</button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='jQuery/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
</body>
</html>