{% extends "template.html" %}

{% block content %}

<div class="nelp-list">

    <div class="lists">
        <div class="card-columns">
            {% for id in id_list %}
            <div class="card">
                    <img class="card-img-top" src="{{icon_list[loop.index-1]}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{name_list[loop.index-1]}}</h5>
                        <a href="/detail/{{ id }}" class="btn btn-primary">Check Detail</a>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <nav class="pager" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

</div>

{% endblock %}